{% extends "Brand/base.html" %}
{% load static %}

{% block content %}
<section class="product-section">
  <div class="product-grid">

    {% for product in products %}
    <div class="product-card">

      <div class="image-wrapper">

        <a href="{% url 'product_detail' product.id %}" class="product-link">
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
      </div>

      <div class="product-info">
        <h3>{{ product.name }}</h3>

        <p class="price">
          {% if product.old_price %}
            <span class="old">₦{{ product.old_price }}</span>
          {% endif %}
          <span class="new">₦{{ product.price }}</span>
        </p>
      </div>

    </div>
    {% empty %}
      <p>No products available.</p>
    {% endfor %}

  </div>
</section>




{% endblock %}
